{% set serviceName = "Manage My Home" %}
{% set pageref = "CA-V2-005" %}
{% set pageName = "Add cautionary alert" %}
{% extends "layout/cautionary-alerts/v2.html" %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">
    </div>
    <div class="govuk-grid-column-three-quarters">

      {{ govukBackLink({
        text: "Back",
        href: "cautionary-add"
      }) }}

      <h1 class="lbh-heading lbh-heading-h1 govuk-!-margin-top-0 govuk-!-margin-bottom-3">
        Check and confirm cautionary alert for Mrs Joan Fisher
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Assure reference"
            },
            value: {
              text: data["cc-"+v+"-ref"]
            },
            actions: {
              items: [
                {
                  href: "cautionary-add",
                  text: "Change",
                  visuallyHiddenText: "Assure reference"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of incident"
            },
            value: {
              text: data["cc-"+v+"-date-day"]+" "+data["cc-"+v+"-date-month"] | formatMonth +" "+data["cc-"+v+"-date-year"]
            },
            actions: {
              items: [
                {
                  href: "cautionary-add",
                  text: "Change",
                  visuallyHiddenText: "date of incident"
                }
              ]
            }
          },
          {
            key: {
              text: "Type of caution"
            },
            value: {
              text: data["cc-"+v+"-type"]
            },
            actions: {
              items: [
                {
                  href: "cautionary-add",
                  text: "Change",
                  visuallyHiddenText: "type of caution"
                }
              ]
            }
          },
          {
            key: {
              text: "Description of incident"
            },
            value: {
              text: data["cc-"+v+"-description"]
            },
            actions: {
              items: [
                {
                  href: "cautionary-add",
                  text: "Change",
                  visuallyHiddenText: "description of incident"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="" method="post">
        <input type="hidden" name="cc-{{v}}-added" id="cc-{{v}}-added" value="true">
        <button class="govuk-button lbh-button" data-module="govuk-button">
          Save cautionary alert
        </button>
      </form>

    </div>
  </div>

{% endblock %}