{% set serviceName = "Manage My Home" %}
{% set pageref = "CA-V2-001" %}
{% extends "layout/cautionary-alerts/v2.html" %}

{% block pageTitle %}
  Property details - Cautionary alerts - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ govukBackLink({
        text: "Search",
        href: "search"
      }) }}
      
      {% if data["ccadded"] %}
        <section class="lbh-page-announcement">
          <h3 class="lbh-page-announcement__title">Cautionary alert added</h3>
        </section>
      {% endif %}

      <h1 class="lbh-heading lbh-heading-h1 govuk-!-margin-top-0 govuk-!-margin-bottom-3">
        {% if data["cc-"+v+"-added"] %}
          <img src="/public/images/bell.svg" alt="" class="icon-bell">
        {% endif %}
        45 Oriel Road, Hackney, London, N16 5TT
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">

      <!--img src="/public/images/45-Oriel-Rd-Google-Maps.png" alt="Map" class="lbh-map-small"-->

      <aside class="lbh-aside">
        {{ govukSummaryList({
          classes: "lbh-summary-list lbh-summary-list--noborder",
          rows: [
            {
              key: {
                text: "Type"
              },
              value: {
                text: "Dwelling"
              }
            },
            {
              key: {
                text: "UPRN"
              },
              value: {
                text: "93641236658"
              }
            },
            {
              key: {
                text: "Property ref"
              },
              value: {
                text: "AB654894153"
              }
            }
          ]
        }) }}
      </aside>

      <aside class="lbh-aside">
        {% if data["cc-"+v+"-added"] %}
          <h2 class="lbh-heading lbh-heading-h3">
            <img src="/public/images/bell.svg" alt="" class="icon-bell icon-bell--small">
            Cautionary alerts
          </h2>
          <!--
          {{ govukSummaryList({
            classes: "lbh-summary-list lbh-summary-list--noborder",
            rows: [
              {
                key: {
                  text: data["cc-"+v+"-tenant"]
                },
                value: {
                  text: data["cc-"+v+"-type"]
                }
              }
            ]
          }) }}
        -->
          <p class="lbh-body" style="line-height: 1.3; margin-top: 15px;">
            <a href="person"><strong>{{ data["cc-"+v+"-tenant"] }}</strong></a><br>
            {{ data["cc-"+v+"-type"] }}
          </p>
        {% else %}
          <h2 class="lbh-heading lbh-heading-h3">
            Cautionary alerts
          </h2>
          <p class="lbh-body">
            None
          </p>
        {% endif %}
      </aside>

      <aside class="lbh-aside">
        <h2 class="lbh-heading lbh-heading-h3">
          <a href="tenure">Tenure</a>
        </h2>
        {{ govukSummaryList({
          classes: "lbh-summary-list lbh-summary-list--noborder",
          rows: [
            {
              key: {
                text: "Type"
              },
              value: {
                text: "Secure"
              }
            },
            {
              key: {
                text: "Status"
              },
              value: {
                text: "Active"
              }
            },
            {
              key: {
                text: "Start date"
              },
              value: {
                text: "11/04/2004"
              }
            },
            {
              key: {
                text: "End date"
              },
              value: {
                text: "N/A"
              }
            },
            {
              key: {
                text: "Payment ref"
              },
              value: {
                text: "xxxxxxxxxxxx"
              }
            }
          ]
        }) }}
        <!--form action="tenure" method="post">
          <button class="lbh-button lbh-button--secondary">
            View tenure
          </button>
        </form-->
      </aside>

    </div>
    <div class="govuk-grid-column-three-quarters">

      <button class="lbh-button govuk-!-margin-bottom-5 action-disabled">
        New process
      </button>
      <p class="lbh-body">No processes</p>

      {# Size modifiers: xl, l, m #}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="lbh-heading lbh-heading-h2 govuk-!-margin-bottom-5">
        Comments
      </h2>

      <button class="lbh-button govuk-!-margin-bottom-5 action-disabled">
        Add comment
      </button>
      <p class="lbh-body">No comments</p>

      <button class="lbh-button lbh-button--secondary govuk-!-margin-bottom-5 action-disabled">
        Activity history
      </button>

      <!--h2 class="govuk-heading-m govuk-!-margin-top-5">
        Repairs
      </h2>

      {{ govukSelect({
        id: "repairs",
        name: "repairs",
        classes: "lbh-inline-input",
        label: {
          classes: "lbh-inline-label",
          text: "Show"
        },
        items: [
          {
            value: "Repairs in progress",
            text: "Repairs in progress"
          }
        ]
      }) }}
      -->

    </div>
  </div>

{% endblock %}