<div class="mmh-mobile-nav" id="mobilenav">
  <ul class="mmh-mobile-nav__list">
    <li class="mmh-mobile-nav__item">
      {% if pageName != "Start page" %}<a href="index">Start page</a>{% else %}Start page{% endif %}
    </li>
    <li class="mmh-mobile-nav__item">
      {% if pageName != "Tenants details" %}<a href="tenants-details">Tenants details</a>{% else %}Tenants details{% endif %}
    </li>
    <li class="mmh-mobile-nav__item">
      {% if pageName != "Visit details" %}<a href="visit-details">Visit details</a>{% else %}Visit details{% endif %}
    </li>
    <!--li class="mmh-mobile-nav__item">
      {% if pageName != "Occupation of tenancy" %}<a href="">Occupation of tenancy</a>{% else %}Occupation of tenancy{% endif %}
    </li-->
    <li class="mmh-mobile-nav__item">
      {% if pageName != "Proof of ID and residency" %}<a href="proof-id-residency">Proof of ID and residency</a>{% else %}Proof of ID and residency{% endif %}
    </li>
    <li class="mmh-mobile-nav__item">
      {% if pageName != "Rent and housing benefit" %}<a href="rent-housing-benefit">Rent and housing benefit</a>{% else %}Rent and housing benefit{% endif %}
    </li>
    <li class="mmh-mobile-nav__item">
      {% if pageName != "Repairs" %}<a href="repairs">Repairs</a>{% else %}Repairs{% endif %}
    </li>
    <li class="mmh-mobile-nav__item">
      {% if pageName != "The property" %}<a href="property">The property</a>{% else %}The property{% endif %}
    </li>
    <li class="mmh-mobile-nav__item">
      {% if pageName != "Anti-social behaviour" %}<a href="anti-social-behaviour">Anti-social behaviour</a>{% else %}Anti-social behaviour{% endif %}
    </li>
    <li class="mmh-mobile-nav__item">
      {% if pageName != "Fire hazards" %}<a href="fire-hazards">Fire hazards</a>{% else %}Fire hazards{% endif %}
    </li>
    <li class="mmh-mobile-nav__item">
      {% if pageName != "Pets and animals" %}<a href="pets-animals">Pets and animals</a>{% else %}Pets and animals{% endif %}
    </li>
    <li class="mmh-mobile-nav__item">
      {% if pageName != "Disability" %}<a href="disability">Disability</a>{% else %}Disability{% endif %}
    </li>
    <li class="mmh-mobile-nav__item">
      {% if pageName != "Referrals &amp; safeguarding" %}<a href="referrals-safeguarding">Referrals &amp; safeguarding</a>{% else %}Referrals &amp; safeguarding{% endif %}
    </li>
    <li class="mmh-mobile-nav__item">
      {% if pageName != "Tenant enquiries" %}<a href="tenant-enquiries">Tenant enquiries</a>{% else %}Tenant enquiries{% endif %}
    </li>
    <li class="mmh-mobile-nav__item">
      {% if pageName != "Check and sign" %}<a href="check-sign">Check and sign</a>{% else %}Check and sign page{% endif %}
    </li>
  </ul>
</div>
<a href="javascript:void(0);" class="mmh-mobile-nav-toggle" id="mobilenavtoggle" onclick="mobileNav()">
  Menu
</a>

<script>
  function mobileNav() {
    var t = document.getElementById("mobilenavtoggle");
    var x = document.getElementById("mobilenav");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>