{% set serviceName = "Tenancy & Household Checks" %}
{% set pageName = "Confirmation" %}
{% extends "layout/hackney-mobile/v1.html" %}

{% block pageTitle %}
  Home - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      {% include "tenancy-household-checks/"+v+"/includes/mobile-header-nonav.html" %}

      <div class="mmh-mobile-content">

        <div class="govuk-panel govuk-panel--confirmation lbh-panel">
          <h1 class="govuk-panel__title">Checks complete</h1>
          <!--div class="govuk-panel__body">Your reference number: HDJ2123F</div-->
        </div>

        <!--h2 class="lbh-heading-h3">What next?</h2-->
        
        {% include "tenancy-household-checks/v1/includes/card-tenant.html" %}
        
      </div><!-- mmh-mobile-content -->

    </div>
  </div>

  

{% endblock %}
