{% extends "layout/hackney.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      <div class="mmh-sidenav">
        <ul>
          <li class="mmh-sidenav-label">Navigation</li>
          <li><a href="">Tenants details</a></li>
          <li><a href="">Visit details</a></li>
          <li><a href="">Occupation of tenancy</a></li>
          <li><a href="">Proof of ID and residency</a></li>
          <li><a href="">Rent and housing benefit</a></li>
          <li><a href="">Repairs</a></li>
          <li><a href="">The property</a></li>
          <li><a href="">Anti-social behaviour</a></li>
          <li><a href="">Fire hazards</a></li>
          <li><a href="">Pets and animals</a></li>
          <li><a href="">Disability</a></li>
          <li><a href="">Referrals & safeguarding</a></li>
          <li><a href="">Tenant enquiries</a></li>
          <li><a href="">Check and sign</a></li>
        </ul>
      </div>

      <!--p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>

      <p>You can change the service name by editing the file '/app/config.js'.</p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Tutorials and templates</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul-->
    </div>
  </div>

{% endblock %}
