{% set serviceName = "Tenancy & Household Checks" %}
{% set pageName = "Start page" %}
{% extends "layout/hackney-mobile/v1.html" %}

{% block pageTitle %}
  Home - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      {% include "tenancy-household-checks/"+v+"/includes/mobile-header.html" %}

      <div class="mmh-mobile-content">
        
        <dl class="govuk-summary-list lbh-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Tenure payment ref</dt>
            <dd class="govuk-summary-list__value">0098765432</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Address</dt>
            <dd class="govuk-summary-list__value">123 Upper Street, London, N1 6NQ</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Tenant name</dt>
            <dd class="govuk-summary-list__value">Joseph Mash</dd>
          </div>
        </dl>
        <a href="tenants-details" role="button" draggable="false" class="govuk-button lbh-button" data-module="govuk-button">
          Start checks
        </a>

      </div><!-- mmh-mobile-content -->

    </div>
  </div>

  

{% endblock %}
