{% set serviceName = "Tenancy & Household Checks" %}
{% set pageName = "Tenants details" %}
{% extends "layout/hackney-mobile/v1.html" %}

{% block pageTitle %}
  Home - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      {% include "tenancy-household-checks/"+v+"/includes/mobile-header.html" %}

      <div class="mmh-mobile-content">
        
        <div class="govuk-form-group lbh-form-group">

          <h2 class="lbh-heading-h5 lbh-form-group-heading">Tenant 1</h2>
          
          <label class="govuk-label" for="thc-{{v}}-tenantsdetails-tenant1-name">
            Name
          </label>
          <input
            class="govuk-input lbh-input"
            id="thc-{{v}}-tenantsdetails-tenant1-name"
            name="thc-{{v}}-tenantsdetails-tenant1-name"
            type="text"
          />

          <fieldset class="govuk-fieldset" role="group">
            <legend class="govuk-fieldset__legend">Date of birth</legend>
            <div class="govuk-date-input lbh-date-input" id="thc-{{v}}-tenantsdetails-tenant1-dob">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="thc-{{v}}-tenantsdetails-tenant1-dob-day">
                    Day
                  </label>
                  <input
                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                    id="thc-{{v}}-tenantsdetails-tenant1-dob-day"
                    name="thc-{{v}}-tenantsdetails-tenant1-dob-day"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="thc-{{v}}-tenantsdetails-tenant1-dob-month">
                    Month
                  </label>
                  <input
                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                    id="thc-{{v}}-tenantsdetails-tenant1-dob-month"
                    name="thc-{{v}}-tenantsdetails-tenant1-dob-month"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="thc-{{v}}-tenantsdetails-tenant1-dob-year">
                    Year
                  </label>
                  <input
                    class="govuk-input govuk-date-input__input govuk-input--width-4"
                    id="thc-{{v}}-tenantsdetails-tenant1-dob-year"
                    name="thc-{{v}}-tenantsdetails-tenant1-dob-year"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        
        <div class="govuk-form-group lbh-form-group">

          <h2 class="lbh-heading-h5 lbh-form-group-heading">Tenant 2 (optional)</h2>
          
          <label class="govuk-label" for="thc-{{v}}-tenantsdetails-tenant2-name">
            Name
          </label>
          <input
            class="govuk-input lbh-input"
            id="thc-{{v}}-tenantsdetails-tenant2-name"
            name="thc-{{v}}-tenantsdetails-tenant2-name"
            type="text"
          />

          <fieldset class="govuk-fieldset" role="group">
            <legend class="govuk-fieldset__legend">Date of birth</legend>
            <div class="govuk-date-input lbh-date-input" id="thc-{{v}}-tenantsdetails-tenant2-dob">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="thc-{{v}}-tenantsdetails-tenant2-dob-day">
                    Day
                  </label>
                  <input
                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                    id="thc-{{v}}-tenantsdetails-tenant2-dob-day"
                    name="thc-{{v}}-tenantsdetails-tenant2-dob-day"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="thc-{{v}}-tenantsdetails-tenant2-dob-month">
                    Month
                  </label>
                  <input
                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                    id="thc-{{v}}-tenantsdetails-tenant2-dob-month"
                    name="thc-{{v}}-tenantsdetails-tenant2-dob-month"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="thc-{{v}}-tenantsdetails-tenant2-dob-year">
                    Year
                  </label>
                  <input
                    class="govuk-input govuk-date-input__input govuk-input--width-4"
                    id="thc-{{v}}-tenantsdetails-tenant2-dob-year"
                    name="thc-{{v}}-tenantsdetails-tenant2-dob-year"
                    type="text"
                    pattern="[0-9]*"
                    inputmode="numeric"
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </div>

      </div><!-- mmh-mobile-content -->

    </div>
  </div>

  

{% endblock %}
