{% set serviceName = "Tenancy & Household Checks" %}
{% set pageName = "Visit details" %}
{% extends "layout/hackney-mobile/v1.html" %}

{% block pageTitle %}
  Home - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      {% include "tenancy-household-checks/"+v+"/includes/mobile-header.html" %}

      <div class="mmh-mobile-content">
    
        <form action="" method="post">
          
          <div class="govuk-form-group lbh-form-group">

            {{ govukRadios({
              name: "thc-"+v+"-visitdetails-visitcompleted",
              classes: "lbh-radios",
              fieldset: {
                legend: {
                  text: "Was the visit completed inside the property?"
                }
              },
              items: [
                {
                  value: "Yes",
                  text: "Yes"
                },
                {
                  value: "No",
                  text: "No"
                }
              ]
            }) }}

            {% set occupiedHtml %}
              {{ govukRadios({
                name: "thc-"+v+"-visitdetails-tenantinoccupation",
                classes: "lbh-radios",
                fieldset: {
                  legend: {
                    text: "Is the person in occupation the tenant?"
                  }
                },
                items: [
                  {
                    value: "Yes",
                    text: "Yes"
                  },
                  {
                    value: "No",
                    text: "No"
                  }
                ]
              }) }}
            {% endset -%}

            {{ govukRadios({
              name: "thc-"+v+"-visitdetails-propertyoccupied",
              classes: "lbh-radios",
              fieldset: {
                legend: {
                  text: "Is the property occupied?"
                }
              },
              items: [
                {
                  value: "Yes",
                  text: "Yes",
                  conditional: {
                    html: occupiedHtml
                  }
                },
                {
                  value: "No",
                  text: "No"
                }
              ]
            }) }}

          </div>
          
          <button class="govuk-button lbh-button" data-module="govuk-button">
            Save and continue
          </button>

        </form>

      </div><!-- mmh-mobile-content -->

    </div>
  </div>

  

{% endblock %}
