{% extends "layout/hackney.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
        Manage My Home Prototypes
      </h1>

      <h2 class="govuk-heading-l">
        Tenancy and Household Checks
      </h2>
      <div class="govuk-inset-text govuk-!-margin-top-0">
        {{ govukTag({
          classes: "govuk-tag--green govuk-!-margin-bottom-3",
          text: "Ready for UR"
        }) }}
        <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
          Tenancy and Household Checks (mobile) - Version 1
        </h3>
        <ul class="govuk-list lbh-list govuk-list--bullet">
          <li><a href="/tenancy-household-checks/v1/">Start page</a></li>
          <li><a href="/tenancy-household-checks/v1/skip">Skip to completed "Check and sign"</a></li>
        </ul>
      </div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">
        Cautionary Contacts
      </h1>
      <div class="govuk-inset-text govuk-!-margin-top-0">
        {{ govukTag({
          classes: "govuk-tag--red govuk-!-margin-bottom-3",
          text: "WIP"
        }) }}
        <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
          Version 1
        </h3>
        <ul class="govuk-list lbh-list govuk-list--bullet">
          <li><a href="/cautionary-contacts/v1/">
            Cautionary Contact Entry Form</a></li>
        </ul>
      </div>

    </div>
  </div>

{% endblock %}
