{% extends "layout/hackney.html" %}

{% block pageTitle %}
  Home - GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
        Manage My Home Prototypes
      </h1>

      <h2 class="govuk-heading-l">
        Tenancy and Household Checks
      </h2>
      <div class="govuk-inset-text govuk-!-margin-top-0">
        {{ govukTag({
          classes: "govuk-tag--blue govuk-!-margin-bottom-3",
          text: "UR done"
        }) }}
        <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
          Tenancy and Household Checks (mobile) - Version 1
        </h3>
        <ul class="govuk-list lbh-list govuk-list--bullet">
          <li><a href="/tenancy-household-checks/v1/">Start page</a></li>
          <li><a href="/tenancy-household-checks/v1/skip">Skip to completed "Check and sign"</a></li>
        </ul>
        <h4 class="govuk-heading-s govuk-!-margin-bottom-3">
          User research
        </h4>
        <ul class="govuk-list lbh-list govuk-list--bullet">
          <li><a href="https://miro.com/app/board/uXjVPRQBtUE=/?moveToWidget=3458764538128263576&cot=14" target=""_blank">UR notes (Miro board) - 11th-15th Nov 2022</a></li>
        </ul>
      </div>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">
        Cautionary Alerts
      </h1>
      <div class="govuk-inset-text govuk-!-margin-top-0">
        {{ govukTag({
          classes: "govuk-tag--green govuk-!-margin-bottom-3",
          text: "Ready for UR"
        }) }}
        <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
          Version 2
        </h3>
        <ul class="govuk-list lbh-list govuk-list--bullet">
          <li><a href="/cautionary-alerts/v2/search">
            Start from MMH search page
          </a></li>
        </ul>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              List of changes from v1
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="lbh-list lbh-list--bullet">
              <li>Add cautionary alert form:
                <ul class="lbh-list lbh-list--bullet">
                  <li>Removal of hint text for "Description of incident"</li>
                  <li>Removal of "Does a letter need to be sent?" question</li>
                </ul>
              </li>
              <li>Check and confirm cautionary alert:
                <ul class="lbh-list lbh-list--bullet">
                  <li>Removal of "Does a letter need to be sent?" row</li>
                  <li>Removal of link to preview letter when letter is to be sent</li>
                  <li>"Save cautionary alert" button is now static content</li>
                </ul>
              </li>
              <li>Addition of search page
                <ul class="lbh-list lbh-list--bullet">
                  <li>Search input does not function</li>
                  <li>Select a radio and click Search to go to relevant example page</li>
                </ul>
              </li>
              <li>Addition of "Person" screen</li>
              <li>Addition of "Tenure" screen</li>
              <li>Replacement of secondary buttons with heading links in left sidebar</li>
              <li>"Add cautionary alert" journey can only start from "Person" screen</li>
              <li>If a cautionary alert has been added:
                <ul class="lbh-list lbh-list--bullet">
                  <li>Person screen:
                    <ul class="lbh-list lbh-list--bullet">
                      <li>[On first visit only] "Cautionary alert added" page announcement is displayed</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </details>
      </div>
      <div class="govuk-inset-text govuk-!-margin-top-0">
        {{ govukTag({
          classes: "govuk-tag--grey govuk-!-margin-bottom-3",
          text: "Archived"
        }) }}
        <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
          Version 1
        </h3>
        <ul class="govuk-list lbh-list govuk-list--bullet">
          <li><a href="/cautionary-alerts/v1/">
            Cautionary Alert Entry Form
          </a></li>
        </ul>
      </div>

    </div>
  </div>

{% endblock %}
